@import views.sparkle.component.CommentData
@(formData: Form[CommentData],
  id:       String)

<!-- Header -->
<div id="legend">
    <legend>Add comment</legend>
</div>
<input type="hidden" name="contentId" value="@id">
<!-- Email -->
@views.html.sparkle.component.bootstrap3.email(formData("email"),
    label = "Email",
    placeholder = "Please enter your email. (required)",
    help = "")

<!-- Title -->
@views.html.sparkle.component.bootstrap3.text(formData("title"),
    label = "Title",
    placeholder = "Please enter your title. (required)",
    help = "")

<!-- Content -->
@views.html.sparkle.component.bootstrap3.textarea(formData("content"),
    rows = "5",
    label = "Content",
    placeholder = "Please enter your content. (required)",
    help = "")
<div class="form-group">
    <div class="col-lg-12 col-sm-12">
        <button id="submit" type="submit" value="Submit" class="btn btn-primary">Submit</button>
        <button id="cancel" class="btn cancel">Cancel</button>
    </div>
</div>
