@import views.sparkle.component.CommentData
@(title: String, uri: String, user: model.User, site: model.Site, content: model.ContentPage, context: util.SparkleContext, formData: Form[CommentData])

@main(title, content.toContent.getTitle, user.getName, context) {
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header post-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>@content.toContent.getTitle</h1>
                        <h2 class="subheading">@content.toContent.getSummary</h2>
                        <span class="meta">Posted by <a href="/authors/@user.getId">@user.getName</a> on @content.toContent.getModificationDate</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <div class="container">
        <div class="row">
            <article class="col-lg-9 col-md-9">
            @Html(content.toContent.getContent)
            </article>
            @if(context.isActive("component.tagcloud")) {
                @sparkle.component.tagcloud.render("col-sm-3 col-md-3 well", site)
            }
        </div>
        <div class="row">
            @if(!content.toContent.getUri.equals("about")) {
                @helper.form(action = routes.Application.comment(content.toContent.getUri), 'class -> "col-lg-9 col-md-9") {
                    @views.html.sparkle.component.comment(formData, content.toContent.getId)
                }
            }
        </div>
    </div>
}
