@(title: String, uri: String, user: model.User, site: model.Site, contents: model.ContentPage)

@main(title, site.getName, user.getName) {
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/assets/images/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>@site.getName</h1>
                        <hr class="small">
                        <span class="subheading">@site.getMotto</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">

        <div class="row">
        @for(content <- contents.toContentList) {
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="/contents/@content.getUri">
                        <h2 class="post-title">@content.getTitle</h2>
                        <h3 class="post-subtitle">@Html(content.getSummary)</h3>
                    </a>
                    <p class="post-meta">Posted by <a href="/authors/@user.getId">@user.getName</a> on @content.getModificationDate</p>
                </div>
                <hr/>
            </div>
        }
        </div>
    </div>
}
