@(title: String, uri: String, user: model.User, site: model.Site, contents: model.ContentPage, context: util.SparkleContext)

@main(title, site.getName, user.getName, context) {
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header home-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="page-heading">
                        <h1>Tags</h1>
                        <hr class="small">
                        <span class="subheading">@contents.getTag.getTag</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">

        <div class="row">
            <div class="col-lg-9 col-md-9">
            @for(content <- contents.toContentList) {
                @sparkle.component.summary.render(content, user, site)
            }
            </div>
            @if(context.isActive("component.tagcloud")) {
                @sparkle.component.tagcloud.render("col-sm-3 col-md-3 well", site)
            }
        </div>
    </div>
}
